/*Partes pricipales*/

.Contenedor
{
    background-color: #005D77;
}

.Encabezado
{
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: transparent;
    z-index: 1;
}
li > a 
{
    font-size: 2.4vh;
}

/*Encabezado*/
.Logo
{
    position: relative;
    top: 30%;
    float: left;
    height: 8vh;
    bottom: 10%;
    left: 1%;
}

.Contenido
{
    position: absolute;
    display: flex;
    top: 0vh;
    left: 0vh;
    right: 0vh;
    width: 100%;
    height:100%;
    background: url('../Imagenes/Medusa_luna.gif') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.MenuDePaginas
{
    font-family: Verdana, Arial;
    position: relative;
    top: 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 4em;
    list-style: none;
    margin: 0; 
    font-size: 1.5em;
}

.MenuDePaginas a 
{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.RedesSociales
{
    position: absolute;
    flex: 1;
    left: 0;

    width: 30%;
    height: 100vh;
    top: 0%;
    bottom: 20%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(0,0,0,0.6661753025683728) 48%, rgba(0,212,255,0) 100%);
}

.NombreDeLapagina
{
    position: absolute;
    flex: 1;
    align-items: center;
    height: 70vh;


    
    margin-left: 3%;
    

}

.LineaBlanca
{
    
    position: absolute;
    right: 2%;
    width:30vh;
    height: 20vh;
    bottom: 0%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    

}

@font-face
{
    font-family: "Amboqia Boriango";
    font-style: normal;
    font-weight: normal;
    src: url("../FuenteDeLetra/AmboqiaBoriango.otf");
} 

span
{
    position: relative;
    
    height: 50%;
    top: 10%;
    bottom: 10%;
    font-family: "Amboqia Boriango" ;
    font-size: 17vh;
    color: white;
}

.IconosRedesSociales
{
    position: relative;
    margin-bottom: 5vh;
    width: 10%;
    
}

#PosicionContenderoIconos
{
    position: relative;
    top: 35%;
    height: 30%;
    left: 10%;
}

.Pie
{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:100vh;
    left: 0em;
    height: 8em;
    width: 100%;
    background-color: #005D77
}