@import url(./info.css);
.Header{
    top: 0em;
    left: 0em;
    position: absolute;
    background-image: url('../Imagenes/Encabezado.svg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height:60%;
    width: 100%;
}
.Menu{
    
    font-family: Verdana, Arial;
    position: relative;
    top: 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 10em;
    list-style: none;
    margin: 0; 
    font-size: 1.5em;
    margin-right: 005%;
    

}
.Menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.Banda
{
    position: relative;
    top: 0%;
    float: left;
    height: 10vh;
    bottom: 10%;
    left: 0%;
    margin-top: 1.2%;
    margin-left: 2%;
}
.Titulo{
    
    float: left;
    margin-top: 15% ;
    margin-left: 8%;
    font-family: "Verdana, Arial";
    font-size: 8vh;
    color: #E29578;
    font-weight: bold;
}
/*.contenedorIcon
{   
    top: 27em;
    position: relative;
    width: auto;
    height: 40em;
    display: flex;
    justify-content: right; 
}
.contenedorIcon > div
{
    position: relative;
    flex: 1;
    border-radius: 10px;
    background: #006d77;
    box-shadow: -20px 20px 60px #83c5be, 
            20px -20px 60px #ffddd2;
    margin: 3em;
    padding: 2em;
    width: 20em;
}
.Icon{
    position: relative;
    top: 1em;
    height: 9em;
    bottom: 3em;
    left: 2.5em;
}

div p
{
    color: white;
}



.Texto
{
    position: relative;
    width: auto;
    height: auto;
    top: 2em;
    bottom: auto;
    width: 100%;
    text-align: center;
    font-family: Verdana, Arial;
}*/



.Contenido
{

    position: absolute;
    top: 27em;
    left: 10%;
    right: 10%;
    width: 80%;
    font-family: Verdana, Arial;
    height: 106.125em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
section h1
{
    position: relative;
    left: 10%;
    text-align: left;
    font: normal normal normal 60px/80px Segoe UI;
    color:black;
    text-transform: uppercase;
}

h1
{
    position: relative;
    right: 10%;
    font-size: 2em;
    text-align: right;
    font-family: Verdana, Arial;
    color: #FFFFFF;
    text-transform: uppercase;
}
